# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

tags.txt
filtered_tags.txt
pic_tag_cnt_new.txt
img_data.txt

# 原始的未经过求交的数据
text_modal_data.txt
image_modal_data.txt

# 文本形式的文本模态数据
text_modal_raw_train.txt
text_modal_raw_test.txt

# 经过LDA处理后的向量形式的文本模态数据
text_modal_train.txt
text_modal_test.txt

# 向量形式的图像模态数据
image_modal_train.txt
image_modal_test.txt

*.rar
*.zip
*.mat

# 经过字典学习之后的向量数据
DL_text_result_train.txt
DL_text_result_test.txt
DL_image_result_train.txt
DL_image_result_test.txt

/LDA/topic.txt
/DL_res1/
DL_test.py
